.switch-style .el-switch__label {
  position: absolute;
  display: none;
  color: #fff!important;
  font-size: 12px;
}

/*打开时文字位置设置*/
.switch-style .el-switch__label--right {
  z-index: 1;
  left: -19px;
}

/*关闭时文字位置设置*/
.switch-style .el-switch__label--left {
  z-index: 1;
  left: 10px;
}

/*显示文字*/
.switch-style .el-switch__label.is-active {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.switch-style.el-switch .el-switch__core,
.el-switch .el-switch__label {
  width: 65px !important;
}
